<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
    <form th:action="@{/posts/create}" th:method="POST" th:object="${post}">
            <label>Title:</label><br>
            <input th:field="*{title}"><br>
            <label>Body:</label><br>
            <input th:field="*{body}"><br>
        <input th:field="*{id}" th:value="*{id}" type="hidden"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>